<%= form_with(model: post, data:{controller: "hello", action: "turbo:submit-end->hello#reset"}) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <div style="background: white; padding: 0.5rem; min-width: fit-content">
      <%= form.rich_text_area :content, style: "color: black" %>
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
